<div  id="mesloisirs" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 content_loisir contenant">
          <button class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-knight"> Loisirs</span></button>
          <ul class="list-unstyled">
            <li class="col-lg-2 col-xs-12 loisir"><img src="assets/images/musique.ico" alt="musique" title="Musique" height="40" width="40">
              <ul>
                <li class="col-lg-12"><h4>Grum</h4></li>
                <li class="col-lg-12"><h4>Mc Solaar</h4></li>
                <li class="col-lg-12"><h4>Tracy Chapman</h4></li>
                <li class="col-lg-12">Et en bonus <h4><a href="https://soundcloud.com/marshaks" id="bonus">Enk Marshaks</a></h4></li>
              </ul>
            </li>
            <li class="col-lg-2 col-xs-12 loisir"><img src="assets/images/poker.ico" alt="Poker" title="Poker" height="40px" width="40px">
              <ul>
                <li class="col-lg-12"><h4>Winamax</h4></li>
                <li class="col-lg-12"><h4>Pokerstar</h4></li>
              </ul>
            </li>
            <li class="col-lg-2 col-xs-12 loisir"><img src="assets/images/ecriture.ico" alt="ecriture" title="Ecriture" height="40px" width="40px">
              <h5>Je suis ma source d'inspiration. J'écris un roman s'apparentant à de la science fiction fanstastique avec une grosse note de tragique </h5>
            </li>
            <li class="col-lg-2 col-xs-12 loisir"><img src="assets/images/jeuxvideo.ico" alt="jeuxvideo" title="Jeux-Video" height="40px" width="40px"><br>
              <ul>
                <li class="col-lg-12 col-xs-12"><h4>Ratchet et Clank</h4>L’espace, c’est grand, immensément grand au point que si tu y perds tes clés de voiture, il te sera quasiment impossible de les retrouver </li>
                <li class="col-lg-12 col-xs-12"><h4>TEKKEN</h4>Qui émergera victorieux, ton esprit ou mon épée ?</li>
                <li class="col-lg-12 col-xs-12"><h4>PES</h4>Si c´était cadré c´était dedans !!</li>
              </ul>
            </li>
            <li class="col-lg-2 col-xs-12 loisir" ><img src="assets/images/serie.ico" alt="Serie" title="Serie" height="40px" width="40px"><br>
              <ul>
                <li class="col-lg-12 col-xs-12"><h4>Game of Throne</h4><br>Winter is coming</li>
                <li class="col-lg-12 col-xs-12"><h4>Justified</h4>A man who speaks out of both sides of his mouth deserves to have it permanently shut</li>
                <li class="col-lg-12 col-xs-12"><h4>WestWorld</h4>They come back because of the subtleties, the details. They come back because they discover something they imagine no one had ever noticed before. They're not looking for a story that tells them who they are. The already know who they are. They're here because they want a glimpse of who they could be</li>

              </ul>
            </li>
            <li class="col-lg-2 col-xs-12 loisir"><img src="assets/images/cinema.ico" alt="Cinema" title="Cinema" height="40px" width="40px"><br>
              <ul>
                <li class="col-lg-12 col-xs-12"><h4>The Dark Knight</h4>Introduire une goutte d'anarchie, déranger l'ordre établi et tout devient brutalement... chaotique</li>
                <li class="col-lg-12 col-xs-12"><h4>King Kong</h4>Les avions n'ont rien fait. C'est la belle qui a tué la bête</li>
                <li class="col-lg-12 col-xs-12"><h4>Django Unchained</h4>Messieurs, vous avez commencé par éveiller ma curiosité, mais là vous captez mon attention</li>
              </ul>
            </li>
          </ul>
        </div>