<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 content_present contenant" >
          <button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-user"> Présentation</span></button>
          <p id="moi">Je m'appelle Bobo N'Guessan Wilfried. j'ai 24ans et je réside actuellement à Noyon en Picardie.<br> Je suis actuellement en formation à l'ecole E2N afin d'acquerir les qualités nécessaire aux métiers d'Intégrateur web et de Developpeur full Stack.</p>
          <hr>
          <hr>
          <div class="col-lg-4 col-lg-offset-4 comp_pers">
            <i class="fa  fa-2x faa-passing-reverse animated listComp_pers"> Persévérant</i>
            <i class="fa  fa-2x faa-ring animated listComp_pers"> Créatif</i><br>
            <i class="fa  fa-2x faa-pulse animated listComp_pers" id="entp"> Innovateur</i><br>
            <i class="fa  fa-2x faa-flash animated listComp_pers"> Adaptabilité</i>
            <i class="fa  fa-2x faa-passing animated listComp_pers"> Observateur</i><br>
          </div>



        </div>
